h1 {
    color: blue;
}
#top {
    color:greenyellow;
}
.name1 {
color:chartreuse
}
h2{
    color: antiquewhite;
}
#mylist {
color: blue;
}
dl dt{
    color: rgb(14, 231, 18);
}
p a{
    color: crimson;
}